
#headerDiv {
  background-color: #F2F2F2;
  text-align: justify;
}

#topNav {
  text-align: center;
}
#githubNavBar  {
  ext-align: center;
}
/* 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 10
}

#contact table, #contact th, #contact td {
  text-align: right;
  border: 0;
}

#Removelinkline {text-decoration: none;}

body {
  	font-family: 'Roboto', sans-serif;
  	background-color: #F2F2F2;
    text-align: center;
	}
p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  width: 32em;
  position: relative;
}

h1 {font-family: 'Open Sans',sans-serif;font-weight: bold;}

h2 {font-family: 'PT Serif',solid}

h3 {color: red}

.myPage {
  margin-left: auto;
  margin-right: auto;
  width: 350px; 
  text-indent: 0;
}
.myPage ul li {
  text-align: left;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
.myPage th,td {vertical-align: center}
.labelMargin {margin-right: 10px; }

End Comments*/
a:link {
    color: blue;
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
